.list-title {
  color: #14332e;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.table {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  th, td {
    vertical-align: middle;
  }
}

.btn {
  margin-right: 0.5rem;
}